<div class="container1" style="font-size:medium">
    @*&copy; 2023 - MyFirstMVC - <a asp-area="" asp-controller="Homodel e" asp-action="Privacy">Privacy</a>*@
    <span>Designed By Chirag Gupta</span>
    <a href="https://www.linkedin.com/in/chiraggupta1706/" class="fa-image"><img src="/css/linkedin.png" height="30px" width="30px" important! /></a>
    <a href="https://www.instagram.com/chiraggupta1706/" class="fa-image"><img src="/css/instagram.png" height="30px" width="30px" important! /></a>
    <a class="fa-image" asp-controller="FacultyDetails" asp-action="Contact"><img src="/css/phone.png" height="30px" width="30px" important! /></a>
</div>

<style>
    span{
        font-size: 20px;
        font-weight: bold;
        color:black;
        margin: 7px;
    }

    .fa-image
    {
        margin:7px;
    }

    .footer{
        width:100%;
    }
</style>

