@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="alert-success">@TempData["Alert"]</div>*@


<h1>Know us better</h1>
<p>Welcome we are happy that you chose us for your childs better future.</p>
<p>We will be very happy to be a part of your childs career.</p>



