@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Study Point</h1>
    <h3>We provide learning and skill building in an interactive and efficient way</h3>

    <p><a asp-controller="Student" asp-action="About">Know us better</a>.</p>
</div>

<style>
    .display-4 {
        color:whitesmoke;
        font-weight:bold;
    }

    h3{
        color: whitesmoke;
    }

    h2{
        color: black;
        font-weight: bold;
    }
    p{
        font-size: 18px;
        font-family: 'georgia';
        font-weight: bold;
        text-decoration:none;
    }

    body{
        background-image: url("/css/Education.jpg");
        background-repeat: repeat;
    }
</style>

